<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Hero Guidelines</title>
  <link rel="stylesheet" href="/css/markdown.css">
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <meta name="author" content="Kerry Snyder" />

  <!-- Typekit fonts -->
  <script type="text/javascript" src="//use.typekit.net/dyo2bhb.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <link rel="shortcut icon" href="favicon.png" />
  <link rel="apple-touch-icon" href="apple-touch-icon.png" />
</head>
<body>
<div class="page">

  <h1 class="tray">Responsive-ready hero images</h1>

  <div class="hero example">
    <img src="/img/hero-guidelines-full.png" alt="">
    <footer><a href="/img/hero-guidelines.png" target="_blank">A manageable example image</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/img/hero-guidelines-full.png" target="_blank">Full size example image</a></footer>
  </div>

  <div class="tray">
    <h2>Sizing</h2>
    <ul>
      <li>min-width: 2560px</li>
      <li>min-height: 320px</li>
      <li>max-height: 480px</li>
      <li>mobile width: 480px</li>
      <li>desktop width: 1280px</li>
      <li>widescreen width: 2560px</li>
    </ul>

    <h2>Layout</h2>

    <ul>
      <li>leave out text or other page elements; these will have to scale with the screen width, so they will move and change quite a bit</li>
      <li>any overlaid text or other page elements must be layout independent on the x-axis; different screen widths cause text and elements to wrap in different ways</li>
    </ul>

    <h2>Color</h2>

    <ul>
      <li>imagery used must provide good contrast to overlaid text or page elements; anticipate that overlaid text will move</li>
    </ul>
  </div>
</div>
</body>
</html>
