<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=1024" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>UX &amp; You</title>

  <meta name="description" content="An over-and-under-view of UX and how it relates to you" />
  <meta name="author" content="Kerry Snyder" />

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700'  rel='stylesheet' type='text/css'>
  <link href="css/index.css" rel="stylesheet" />

  <link rel="shortcut icon" href="favicon.png" />
  <link rel="apple-touch-icon" href="apple-touch-icon.png" />
</head>

<body class="impress-not-supported">

<div class="fallback">
    <p>Your browser may be failing you.</p>
    <p>Instead, try <a href="https://www.google.com/intl/en_US/chrome/browser/">Chrome</a> or <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a>.</p>
</div>

<div class="hint">
    <nav>
        <span class="instructions">use keys or these<br></span>
        <a id="prev_slide" onclick="impress().prev()">&larr;</a>
        <a id="home_slide" onclick="impress().goto(0)" class="back-home">&#8962;</a>
        <a id="next_slide" onclick="impress().next()">&rarr;</a>
    </nav>
</div>

<!--

    a summary of all the possible attributes used to position presentation steps

    * `data-x`, `data-y`, `data-z` - they define the position of **the center** of step element on
        the canvas in pixels; their default value is 0;
    * `data-rotate-x`, `data-rotate-y`, 'data-rotate-z`, `data-rotate` - they define the rotation of
        the element around given axis in degrees; their default value is 0; `data-rotate` and `data-rotate-z`
        are exactly the same;
    * `data-scale` - defines the scale of step element; default value is 1

    These values are used by impress.js in CSS transformation functions, so for more information consult
    CSS transform docs: https://developer.mozilla.org/en/CSS/transform

-->

<div id="impress" data-transition-duration="750" data-perspective="1000">

    <section id="overview" class="step" data-x="0" data-y="0" data-z="0" data-scale="20">
    </section>

    <section id="intro">
        <div id="whack" class="step" data-x="-3942" data-y="-2216" data-z="13" data-rotate="180" data-scale="1">
            <header class="headline">UX and You</header>
            <h2>whackronym, <em>n.,</em></h2>
            <h3>an acronym that is <span class="emph">whack</span>.</h3>
            <footer id="uxample" class="tray content">
                <!-- <div class="eg ib">E.g.,</div> -->
                <p class="ib"><span class="dropcap">UX</span> is a <em>whackronym</em> often used to abbreviate <span class="dropcap">u</span>ser e<span class="dropcap">x</span>perience.</p>
            </footer>
        </div>

        <div id="hci" class="step tier2" data-x="-3942" data-y="-1238" data-z="12" data-rotate="180" data-rotate-y="180" data-scale="1">
            <header class="headline">UX and You</header>
            <h3>Wherever there is <span class="dropcap">HCI</span><br>there is <span class="dropcap">UX</span></h3>
            <br>
            <div class="tray full just">
                <iframe class="ib" src="https://giphy.com/embed/5ldzCDWspq9HO" width="245" height="150" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                <iframe class="ib" src="https://giphy.com/embed/ZcX52Tf5sBsys" width="245" height="150" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                <iframe class="ib" src="https://giphy.com/embed/eg8oF9a007VOU" width="245" height="150" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
            <footer>
              <aside>HCI (Human-Computer Interaction) is not a whackronym.</aside>
            </footer>
        </div>

        <div id="field" class="step tier3" data-x="-3942" data-y="-260" data-z="11" data-rotate="180" data-scale="1">
            <header class="headline">UX and You</header>
            <aside>At this point, you might say to yourself</aside>
            <h3><span class="dropcap">UX</span> is an absurdly broad field</h3>
            <img src="/img/field.jpg" alt="a broad field" class="ib center">
            <aside>And you'd be right</aside>
        </div>

        <div id="broad" class="step tier4" data-x="-3942" data-y="718" data-z="10" data-rotate="180" data-rotate-y="180" data-scale="1">
            <header class="headline">UX and You</header>
            <h2><span class="dropcap">U</span>ser e<span class="dropcap">X</span>perience</h2>
            <p>Tautologically <span class="dropcap">UX</span> concerns itself with any factor that influences a user's experience with a machine</p>
            <div class="center full just">
                <iframe class="ib" src="https://giphy.com/embed/FxBgVD0rdBrnW" width="334" height="251" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                <iframe src="https://giphy.com/embed/O1xeZ4AgSaNBS" width="357" height="251" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
            <aside>It's not a specialization, it's a discipline<br>&mdash;like <em>wing chun</em> or <em>jeet kune do</em></aside>
        </div>

        <div id="myths" class="step tier5" data-x="-3764" data-y="1410" data-z="8" data-rotate="150" data-scale="1">
            <header class="headline">UX Myths</header>
            <aside>Before we get into the <a href="#technology">nitty-gritty</a></aside>
            <h2>Let's bust a few myths</h2>
            <iframe class="ib center" src="https://giphy.com/embed/wXgBk2fM696gM" width="450" height="253" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>

        <div id="myth31" class="step myth" data-x="-3264" data-y="1923" data-z="9" data-rotate="120" data-scale="1">
            <header class="headline">UX Myths</header>
            <h2><a href="http://uxmyths.com/post/3897350094/myth-31-ux-design-is-a-step-in-a-project" target="_blank">Myth #31</a></h2>
            <h4><span class="dropcap">UX</span> design is a step in a project</h4>
            <p>Proper <span class="dropcap">UX</span> design touches upon most of the steps:</p>
            <ul class="content">
                <li>project objectives</li>
                <li>business requirements</li>
                <li>user research</li>
                <li>tech architecture</li>
                <li>interface design</li>
                <li>aesthetic design</li>
                <li>prototyping</li>
                <li>usability testing</li>
            </ul>
            <aside>Jump ahead to the whole <a href="#goal"><span class="dropcap">UX</span> process</a> if you'd like.</aside>
        </div>

        <div id="myth8" class="step myth" data-x="-2574" data-y="2103" data-z="7" data-rotate="90" data-scale="1">
            <header class="headline">UX Myths</header>
            <h2><a href="http://uxmyths.com/post/705397950/myth-ornamental-graphics-improves-the-users-experience" target="_block">Myth #8</a></h2>
            <h4>Stock photos improve a user's experience</h4>
            <img src="img/stock.jpg" alt="">
        </div>

        <div id="myth3" class="step myth" data-x="-1884" data-y="1923" data-z="6" data-rotate="60" data-scale="1">
            <header class="headline">UX Myths</header>
            <h2><a href="http://uxmyths.com/post/654047943/myth-people-dont-scroll" target="_blank">Myth #3</a></h2>
            <h3>People don’t scroll</h3>
            <div class="center tray full">
                <iframe class="ib" src="https://giphy.com/embed/YW7AMDxMenBPG" width="317" height="281" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                <iframe class="ib" src="https://giphy.com/embed/8CAFRDokyQkhi" width="375" height="281" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
        </div>

        <div id="bridge" class="step tier5" data-x="-1384" data-y="1410" data-z="5" data-rotate="30" data-scale="1">
            <header class="headline">UX Theory</header>
            <h2>Where did UX come from?</h2>
            <p><span class="dropcap">UX</span> arose as a field of study and practice as more and more people in various occupations came to an unsettling conclusion.</p>
            <iframe class="ib center" src="https://giphy.com/embed/FSSKVJPj3NadG" width="500" height="354" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            <aside>After all, we're not here to talk about what UX <em>isn't</em>.</aside>
        </div>

        <div id="gap" class="step tier4" data-x="-1212" data-y="718" data-z="4" data-rotate="0" data-scale="1">
            <header class="headline">UX Theory</header>
            <h3>Human <strong>innovation</strong> outpaces human <strong>understanding</strong> of innovations.</h3>
            <p><span class="dropcap">UX</span>ers seek to bridge the widening gap between people and new technology that can improve their lives</p>
            <div class="just tray full">
                <iframe class="ib" src="https://giphy.com/embed/RLe18mB59828o" width="188" height="270" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                <iframe class="ib" src="https://giphy.com/embed/RmamyDifvX8nm" width="480" height="270" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                <iframe class="ib" src="https://giphy.com/embed/toWExTzyclleM" width="180" height="270" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
        </div>

        <div id="multiplier" class="step tier3" data-x="-1212" data-y="-260" data-z="3" data-rotate="0" data-rotate-y="180" data-scale="1">
            <header class="headline">UX Theory</header>
            <h2>Useful technology <em>multiplies</em> human effort.</h2>
            <p>Paradoxically, it is this multiplier that causes the gap to widen.</p>
            <p>A technology sufficiently complex to be useful will be too complex for a majority of its beneficiaries to understand how it works.</p>
            <div class="tray full center">
                <iframe src="https://giphy.com/embed/11IyTGj7lJPmo" width="250" height="250" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                <iframe src="https://giphy.com/embed/PlURZ2lEzVU64" width="333" height="250" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                <!-- <iframe src="https://giphy.com/embed/FlvKStEuhmbrG" width="251" height="250" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->
            </div>
        </div>

        <div id="touchscreen" class="step tier2" data-x="-1212" data-y="-1238" data-z="2" data-rotate="0" data-scale="1">
            <header class="headline">UXample</header>
            <aside>"Wild conjecture!", you say.</aside>
            <div class="just tray full">
                <div class="ib half">
                    <h3>Touchscreens, for instance</h3>
                    <p>Some short years ago, the touchscreen was born&mdash;an invention that <em>literally</em> puts data at our fingertips.</p>
                </div>
                <div class="ib half">
                    <iframe src="https://giphy.com/embed/NgfWjr6PhX8t2?playOnHover=true" width="429" height="182" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                    <iframe src="https://giphy.com/embed/DDBlkSpNqHyRW" width="429" height="223" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>
            </div>
        </div>

        <div id="complexity" class="step" data-x="-1212" data-y="-2216" data-z="1" data-rotate="0" data-rotate-y="180" data-scale="1">
            <header class="headline">UXample</header>
            <p>How many smartphone users understand how a mutual capacitance touchscreen works?</p>

            <p>Rightly so! It took dozens of patents, and thousands and thousands of <span class="dropcap">R&amp;D</span> hours to bring touchscreen smartphones to market.</p>
            <ol class="tray content tiny ib">
                <li><a href="https://www.google.com/patents/US20080007539" target="_blank">"Mutual capacitance touch sensing device"</a></li>
                <li><a href="https://www.google.com/patents/US20110007030" target="_blank">"Ultrathin mutual capacitance touch screen"</a></li>
                <li><a href="https://www.google.com/patents/US20100302201" target="_blank">"Sensor patterns for mutual capacitance touchscreens"</a></li>
                <li><a href="https://www.google.com/patents/US7663607" target="_blank">"Multipoint touchscreen 1"</a></li>
                <li><a href="https://www.google.com/patents/WO2005114369" target="_blank">"Multipoint touchscreen 2"</a></li>
                <li><a href="https://www.google.com/patents/US8605051" target="_blank">"Multipoint touchscreen 3"</a></li>
                <li><a href="https://www.google.com/patents/US20110221700" target="_blank">"Mutual capacitance touch screen with dual conductive films"</a></li>
                <li><a href="https://www.google.com/patents/US20100110038" target="_blank">"Combined mutual capacitance touch screen"</a></li>
                <li><a href="https://www.google.com/patents/US20120182253" target="_blank">"Capacitive Touchscreen with fingerprint reader"</a></li>
                <li><a href="https://www.google.com/patents/US8278571" target="_blank">"Capacitive touchscreen for finger or stylus"</a></li>
                <li><a href="https://www.google.com/patents/US7479949" target="_blank">"Touch screen interface"</a></li>
                <li><a href="https://www.google.com/patents/US8174510" target="_blank">"Capacitive touch screen"</a></li>
                <li><a href="https://www.google.com/patents/US8599150" target="_blank">"Touchscreen electrode configuration"</a></li>
                <li><a href="https://www.google.com/patents/US8659553" target="_blank">"Orientation-sensing touchscreen"</a></li>
                <li><a href="https://www.google.com/patents/US20120146922" target="_blank">"Touchscreen panel manufacture"</a></li>
                <li><a href="https://www.google.com/search?tbm=pts&hl=en&q=touchscreen#hl=en&q=mutual+capacitance+touchscreen" target="_blank">"Google Patents Search for Mutual Capacitive Touchscreen"</a></li>
            </ol>

        </div>
    </section>

    <section id="midpoint" class="step overview" data-x="0" data-y="0" data-z="0" data-scale="20">
        <div class="left side">you</div>
        <div class="right side">tech</div>
    </section>

    <section id="spectrum">
        <div id="recap" class="step" data-x="2500" data-y="0" data-rotate="0" data-scale="1">
            <img src="/img/uxtrum.gif" alt="UX Spectrum">
        </div>

        <div id="technology" class="step facet" data-x="4000" data-y="1920" data-rotate="150" data-scale="1">
            <header class="headline">UX Facets: Technology</header>
            <p class="center">A UXer strives to make technology serve the user.</p>
            <iframe class="ib center" src="https://giphy.com/embed/1v4pXKr5tZMhq" width="500" height="290" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            <p class="center">And to prevent the user from serving the technology.</p>
            <iframe class="ib center" src="https://giphy.com/embed/NGJHSGTnLa6L6" width="500" height="296" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        <div id="psychology" class="step facet" data-x="1000" data-y="-1920" data-rotate="-30" data-scale="1">
            <header class="headline">UX Facets: Psychology</header>
            <h3>The UXer serves the user</h3>
            <p>Understanding people and their motivations is the primary responsibility of the UXer</p>
            <div class="tray just full">
                <iframe class="ib half" src="https://giphy.com/embed/y2giNwzUHN1p6" width="500" height="376" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                <iframe class="ib half" src="https://giphy.com/embed/nJ2wF2XGBcg1i" width="500" height="281" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
        </div>
        <div id="aesthetics" class="step facet" data-x="1000" data-y="1920" data-rotate="30" data-scale="1">
            <header class="headline">UX Facets: Aesthetics</header>
            <h3>The aim is to attract, not repel.</h3>
            <p>Purely functional technology is frightening, sometimes ugly.</p>
            <img src="/img/aesthetics.jpg" alt="Downtown">
        </div>
        <div id="economics" class="step facet" data-x="4000" data-y="-1920" data-rotate="-150" data-scale="1">
            <header class="headline">UX Facets: Economics</header>
            <h3>What do we offer the user?</h3>
            <p>A sponsor, client, or business provides the objective</p>
            <img class="ib center" src="/img/ground-control.png" alt="Ground Control">
        </div>
        <div id="stakeholders" class="step role" data-x="3515" data-y="-1080" data-rotate="-150" data-scale="1">
            <header class="headline">UX Facets: Economics</header>
            <header class="player">Key Player #1</header>
            <h2>The Stakeholder</h2>
            <p>Identifies a problem worth solving<br>Provides support to solve it</p>
            <img src="/img/picard.jpg" alt="Captain Picard" class="ib center">
            <aside class="center">Engage</aside>
        </div>
        <div id="designers" class="step role" data-x="1485" data-y="1080" data-rotate="30" data-scale="1">
            <header class="headline">UX Facets: Aesthetics</header>
            <header class="player">Key Player #2</header>
            <h2>The Designer</h2>
            <h4>Finds a solution and ably describes it</h4>
            <iframe class="ib center" src="https://giphy.com/embed/RwcSk0QjpcpQQ" width="500" height="269" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            <aside class="center">"If you got a problem, yo, I'll solve it"</aside>
        </div>
        <div id="devs" class="step role" data-x="3515" data-y="1080" data-rotate="150" data-scale="1">
            <header class="headline">UX Facets: Technology</header>
            <header class="player">Key Player #3</header>
            <h2>The Developer</h2>
            <h4>Devs can build anything</h4>
            <div class="just tray full">
                <iframe class="ib center" src="https://giphy.com/embed/gU25raLP4pUu4" width="427" height="320" frameBorder="0" zwebkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                <aside class="center">just ask them</aside>
                <iframe class="ib center" src="https://giphy.com/embed/zXmbOaTpbY6mA" width="500" height="211" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
        </div>
        <div id="users" class="step role" data-x="1485" data-y="-1080" data-rotate="-30" data-scale="1">
            <header class="headline">UX Facets: Psychology</header>
            <header class="player">Key Player #4</header>
            <h2>The User is unfulfilled</h2>
            <iframe class="ib center" src="https://giphy.com/embed/Vh8hCtgY93S6Y" width="500" height="213" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            <aside class="center">Sometimes users know what they want<br>other times they have a more vague need.</aside>
        </div>
        <div id="human" class="step example" data-x="1970" data-y="-240" data-rotate="-30" data-scale="1">
            <header class="headline">UX Facets: Psychology</header>
            <h2>Example User</h2>
            <img src="img/human.jpg" alt="human">
            <aside class="center">"I don't have enough thing"</aside>
        </div>
        <div id="design" class="step example" data-x="1970" data-y="240" data-rotate="30" data-scale="1">
            <header class="headline">UX Facets: Aesthetics</header>
            <h2>Example Design</h2>
            <aside class="center">"I know <strong>exactly</strong> how to do this!" #winning</aside>
            <iframe class="ib center" src="https://giphy.com/embed/pdKaXbHNup0Eo" width="400" height="225" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        <div id="app" class="step example" data-x="3030" data-y="240" data-rotate="150" data-scale="1">
            <header class="headline">UX Facets: Technology</header>
            <h2>Example Development</h2>
            <p>"The proper application of these algorithms to this problem will yield untold returns and stimulate an inordinate tidal wave of heuristics"</p>
            <img src="/img/doge.png" alt="Dev Doge" class="ib center">
        </div>
        <div id="product" class="step example" data-x="3030" data-y="-240" data-rotate="-150" data-scale="1">
            <header class="headline">UX Facets: Economics</header>
            <h2>Example Product</h2>
            <h4>"We're taking this to market!"</h4>
            <iframe class="ib center" src="https://giphy.com/embed/12Rq9uCNxcxtjq" width="530" height="360" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>

    </section>

    <section id="process">
        <div id="process" class="step" data-x="0" data-y="0" data-rotate-y="90" data-z="5500" data-scale="1">
          <header class="headline">Devsign Process</header>
          <h2>Where do we begin?</h2>
          <h4>Over the years I've honed my approach into a eight step process.</h4>

          <ol>
            <li>Objective: What's a problem worth solving?</li>
            <li>Audience: Who experiences this problem?</li>
            <li>Flow map: How would they experience an ideal solution?</li>
            <li>Specs: What features will we want to build?</li>
            <li>Tech: What tools will we need to build this experience?</li>
            <li>Prototype: Which features do we build first?</li>
            <li>Polish: How accessible can we make this solution?</li>
            <li>Cycle: How can we maximize momentum?</li>
          </ol>
        </div>
        <div id="goal" class="step" data-x="0" data-y="0" data-rotate-y="270" data-z="4500" data-scale="1">
          <header class="headline">Devsign Process</header>
          <h2>1. Objective</h2>
          <h4>What's a problem worth solving?</h4>

          <p>A very good place to start. Find a problem that you are passionate about solving and capable of solving given your resources and abilities. Define the goal, and depict success. Draw pictures, write stories, realize it any way you want to, any way that gets you and your team excited about solving that problem.</p>
        </div>
        <div id="personas" class="step" data-x="-100" data-y="0" data-rotate-y="90" data-z="3500" data-scale="1">
          <header class="headline">Devsign Process</header>
          <h2>2. Personas</h2>
          <h4>Who experiences this problem?</h4>

          <p>Survey those who experience the problem you aim to solve. Figure out what drives them, what a solution would look like to them, and how much time or money they have to devote to solving this problem. Many call this market research or user research.</p>

          <p>As you become familiar with the audience, archetypes will arise. Build dossiers around personas that exemplify the archetypes to give the team a clearer, outside perspective on the product. Give 'em a name, face, age, occupation, and all the relevant ethnographic data you can muster.</p>
        </div>
        <div id="flow" class="step" data-x="0" data-y="0" data-rotate-y="270" data-rotate-x="90" data-z="2500" data-scale="1">
          <header class="headline">Devsign Process</header>
          <h2>3. Flow map</h2>
          <h4>How would they experience an ideal solution?</h4>

          <p>Interaction design is at least 5-D: 3 spatial dimensions, time, and a number of other dimensions resulting from the user's choices. A flow map can help to convey and discuss the intracacies and complexities before you begin prototyping. A flow map of the interactions you aim to enable will make it much easier to break the product into discrete features and functions.</p>
        </div>
        <div id="specs" class="step" data-x="0" data-y="0" data-rotate-y="90" data-rotate-x="180" data-z="1500" data-scale="1">
          <header class="headline">Devsign Process</header>
          <h2>4. Specs &amp; requirements</h2>
          <h4>What features will we want to build?</h4>

          <p>Before diving into the nuts and bolts, it's imperative to write about the product you plan to build in analytical framework. Rather than putting together an old-fashioned requirements document that few will reference and fewer will read, I like to break the product—as envisioned in the flow map—into features in a versatile task manager like Asana or Trello. Then we can stage the features into releases.</p>
        </div>
        <div id="architecture" class="step" data-x="0" data-y="0" data-rotate-y="270" data-rotate-x="180" data-z="500" data-scale="1">
          <header class="headline">Devsign Process</header>
          <h2>5. Architecture</h2>
          <h4>What tools will we need to build this experience?</h4>

          <p>With the wealth of frameworks and open source libraries available, it's likely we can bootstrap our efforts wihtout having to build everything from scratch. A comprehensive survey of the tools at hand will inform our architeture and save us a lot of work down the road.</p>
          <p>Once we know what's out there we can design our architecture to support the features and specs. A flowchart can be a wonderful living document to illustrate architecture. Iterate on it as you build.</p>
        </div>
        <div id="prototype" class="step" data-x="0" data-y="0" data-rotate-y="90" data-rotate-x="270" data-z="-500" data-scale="1">
          <header class="headline">Devsign Process</header>
          <h2>6. Prototype</h2>
          <h4>Which features do we build first?</h4>

          <p>The prototype comprises the minimum set of features necessary for a hands-on test of the concept. Why bother drawing pictures of an interface when you can build the interface and actually try it out? A working prototype accelerates progress like nothing else.</p>
          <p>Said another way: if you want build a product, just start building it.</p>
        </div>
        <div id="polish" class="step" data-x="0" data-y="0" data-rotate-y="270" data-rotate-x="0" data-z="-1500" data-scale="1">
          <header class="headline">Devsign Process</header>
          <h2>7. Polish</h2>
          <h4>How accessible can we make this solution?</h4>

          <p>Once you've got a working version of your idea, it's a good idea to polish the rough edges that might distract those doing the hands-on testing. It's much more difficult to polish an imaginary stone than a real one. Design in CSS, and only use mockups to develop the visual aesthetic, not to dictate the structure, dimensions, or (heaven forbid) a pixel-perfect replica of a drawing of an interface.</p>
          <p>The character of the product may now be presenting itself through the prototype. This is good stage to examine naming, branding, and aesthetic. Call in the designers, make a mood board, give it a coat of paint.</p>
        </div>
        <div id="development" class="step" data-x="0" data-y="0" data-rotate-y="90" data-rotate-x="180" data-z="-2500" data-scale="1">
          <header class="headline">Devsign Process</header>
          <h2>8. Development cycle</h2>
          <h4>How can we maximize momentum?</h4>
          <p>Progress on a product no one has built before can be difficult to measure. So in early days it's best to focus on momentum, or its lazy cousin inertia. Giving team members freedom to create at their own enthusiastic paces, rather than focusing on blockers and linear processes, will keep productivity and morale high.</p>
          <p>When a prototype starts building steam, you can maintain momentum with a staged work cycle that keeps the product folk, designers, and developers all busy. Many features do not follow a linear path from product, to design, to development, so choose a teamwork tool that allows features to bounce around as needed.</p>
          <p>Try not to get bogged down in process though. Only build processes to solve real problems.</p>
        </div>
    </section>
    <section id="credits">
        <div id="questions" class="step" data-x="0" data-y="1000" data-z="-1000" data-rotate-y="270" data-rotate-z="90" data-scale="40">
          <header class="headline">Where's the UXit?</header>
          <h2>Questions? Feedback? Donations?</h2>
          <iframe class="ib center" src="https://giphy.com/embed/uE0mcOJUQu6Xe" width="450" height="228" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
    </section>
</div>

<!-- <script src="bower_components/jquery/dist/jquery.min.js"></script> -->
<script src="js/app.js"></script>
<script>
if ("ontouchstart" in document.documentElement) {
    document.querySelector(".hint").innerHTML = "<p>Tap left or right to navigate</p>";
}
</script>

<script src="js/impress.js"></script>

<script>impress().init()</script>

<script>
    var api = impress();
    api.init();
    api.next();
    api.prev();
    // api.goto( idx | id | element, [duration] );
</script>

</body>
</html>
