<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>UX &amp; You</title>

    <meta name="description" content="An over-and-under-view of UX and how it relates to you" />
    <meta name="author" content="Kerry Snyder" />

    <!-- Typekit fonts -->
    <script type="text/javascript" src="//use.typekit.net/dyo2bhb.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


    <link href="css/ux.css" rel="stylesheet" />

    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
</head>

<body class="impress-not-supported">

<div class="fallback">
    <p>Your sad excuse for a browser is depriving you of this experience, but you may still read the content.</p>
    <p>Time to try out <a href="https://www.google.com/intl/en_US/chrome/browser/">Chrome</a> or <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a>.</p>
</div>

<div id="impress" data-transition-duration="750" data-perspective="1000">

    <section id="overview" class="step" data-x="0" data-y="0" data-scale="12">
        <div class="left">tech</div>
        <div class="right-side">you</div>
    </section>

    <section id="intro">
        <div id="whack" class="step" data-x="-4000" data-y="-2000" data-rotate-x="20" data-rotate-y="180" data-rotate="180" data-scale="1">
            <h2>whackronym, <em>n.</em></h2>
            <p>It's an acronym that is <span class="emph">whack</span>.</p>
            <p>For uxample, &lsquo;<span class="dropcap">UX</span>&rsquo; stands for <br>&lsquo;<span class="dropcap">u</span>ser e<span class="dropcap">x</span>perience&rsquo;.</p>
        </div>

        <div id="hci" class="step tier2" data-x="-4000" data-y="-1080" data-rotate-x="-20" data-rotate="180" data-scale="1">
            <h2>HCI <small>(Human-Computer Interaction)</small></h2>
            <p><span class="dropcap">UX</span> occurs <br>when a human interacts with a computer</p>
        </div>

        <div id="broad" class="step tier3" data-x="-4000" data-y="-160" data-rotate-x="20" data-rotate-y="180" data-rotate="180" data-scale="1">
            <aside>At this point, you might say to yourself</aside>
            <h2>UX is an absurdly broad field</h2>
        </div>

        <div id="field" class="step tier4" data-x="-4000" data-y="760" data-rotate-x="-20" data-rotate="180" data-scale="1">
            <h2><span class="dropcap">U</span>ser E<span class="dropcap">X</span>perience</h2>
            <p>can encompass any factor that influences a person's experience with a machine</p>
        </div>

        <div id="myths" class="step tier5" data-x="-3764" data-y="1410" data-rotate="150" data-scale="1">
            <h2>UX is mired in myths</h2>
            <aside>Let's check out a few...</aside>
        </div>

        <div id="myth31" class="step myth" data-x="-3264" data-y="1923" data-rotate="120" data-scale="1">
            <h2>Myth #31:</h2>
            <p><a href="http://uxmyths.com/post/3897350094/myth-31-ux-design-is-a-step-in-a-project">UX design is a step in a project</a></p>
        </div>

        <div id="myth8" class="step myth" data-x="-2574" data-y="2103" data-rotate="90" data-scale="1">
            <h2>Myth #8:</h2>
            <p><a href="http://uxmyths.com/post/705397950/myth-ornamental-graphics-improves-the-users-experience">Stock photos improve a user's experience</a></p>
            <img src="img/stock.jpg" alt="">
        </div>

        <div id="myth3" class="step myth" data-x="-1884" data-y="1923" data-rotate="60" data-scale="1">
            <h2>Myth #3:</h2>
            <p><a href="http://uxmyths.com/post/654047943/myth-people-dont-scroll">People don’t scroll</a></p>
        </div>

        <div id="bridge" class="step tier5" data-x="-1384" data-y="1410" data-rotate="30" data-scale="1">
            <h2>Myths aside</h2>
            <p>We're not here to talk about what UX isn't.</p>
            <h3 class="emph">UX arose as enough people came to an unsettling conclusion.</h3>
        </div>

        <div id="gap" class="step tier4" data-x="-1212" data-y="760" data-rotate-x="-20" data-rotate="0" data-scale="1" data-transition-duration="3000">
            <h2><em>Our innovation outpaces our understanding of our innovations.</em></h2>
        </div>

        <div id="multiplier" class="step tier3" data-x="-1212" data-y="-160" data-rotate-x="20" data-rotate-y="180" data-rotate="0" data-scale="1">
            <h2>Useful technology multiplies human effort.</h2>
            <p>Paradoxically, this multiplier is the cause behind the widening gap between people and the technology that can improve their lives.</p>
        </div>

        <div id="touchscreen" class="step tier2" data-x="-1212" data-y="-1080" data-rotate-x="-20" data-rotate="0" data-scale="1">
            <aside>"Wild conjecture!", you say.</aside>
            <h2>Take, for example, the touchscreen</h2>
            <p>Some short years ago, the touchscreen was born&#8230;<br>an invention that can enable us to literally manipulate all the information in the universe.</p>
        </div>

        <div id="complexity" class="step" data-x="-1212" data-y="-2000" data-rotate-x="20" data-rotate-y="180" data-rotate="0" data-scale="1">
            <h2>And few of us understand how a mutual capacitive touchscreen works</h2>
            <p>Rightly so, it does dozens of patents and thousands and thousands of R&amp;D hours to bring to market.</p>
            <ul class="tiny">
                <li><a href="https://www.google.com/patents/US20080007539">"Mutual capacitance touch sensing device"</a></li>
                <li><a href="https://www.google.com/patents/US20110007030">"Ultrathin mutual capacitance touch screen"</a></li>
                <li><a href="https://www.google.com/patents/US20100302201">"Sensor patterns for mutual capacitance touchscreens"</a></li>
                <li><a href="https://www.google.com/patents/US7663607">"Multipoint touchscreen 1"</a></li>
                <li><a href="https://www.google.com/patents/WO2005114369">"Multipoint touchscreen 2"</a></li>
                <li><a href="https://www.google.com/patents/US8605051">"Multipoint touchscreen 3"</a></li>
                <li><a href="https://www.google.com/patents/US20110221700">"Mutual capacitance touch screen with dual conductive films"</a></li>
                <li><a href="https://www.google.com/patents/US20100110038">"Combined mutual capacitance touch screen"</a></li>
                <li><a href="https://www.google.com/patents/US20120182253">"Capacitive Touchscreen with fingerprint reader"</a></li>
                <li><a href="https://www.google.com/patents/US8278571">"Capacitive touchscreen for finger or stylus"</a></li>
                <li><a href="https://www.google.com/patents/US7479949">"Touch screen interface"</a></li>
                <li><a href="https://www.google.com/patents/US8174510">"Capacitive touch screen"</a></li>
                <li><a href="https://www.google.com/patents/US8599150">"Touchscreen electrode configuration"</a></li>
                <li><a href="https://www.google.com/patents/US8659553">"Orientation-sensing touchscreen"</a></li>
                <li><a href="https://www.google.com/patents/US20120146922">"Touchscreen panel manufacture"</a></li>
                <li><a href="https://www.google.com/search?tbm=pts&hl=en&q=touchscreen#hl=en&q=mutual+capacitance+touchscreen">"Google Patents Search for Mutual Capacitive Touchscreen"</a></li>
            </ul>
        </div>
    </section>

    <section id="spectrum">
        <div id="psychology" class="step facet" data-x="1000" data-y="-1920" data-rotate="-30" data-scale="1">
            <h2>Psychology</h2>
            <h3>The UXer serves the user</h3>
            <p>So understanding humans and their motivations is the primary responsibility of the UXer</p>
        </div>
        <div id="users" class="step role" data-x="1485" data-y="-1080" data-rotate="-30" data-scale="1">
            <h2>Users</h2>
            <h3>have wants and needs</h3>
        </div>
        <div id="human" class="step example" data-x="1970" data-y="-240" data-rotate="-30" data-scale="1">
            <h2>Person's name</h2>
            <p>What this person wants or needs</p>
            <img src="img/human.jpg" alt="human">
        </div>

        <div id="economics" class="step facet" data-x="4000" data-y="-1920" data-rotate="-150" data-scale="1">
            <h2>Economics</h2>
            <p>A UXer needs a sponsor, client, or business that understands the value of a good experience</p>
        </div>
        <div id="stakeholders" class="step role" data-x="3515" data-y="-1080" data-rotate="-150" data-scale="1">
            <h2>Stakeholders</h2>
            <p>provide a goal, a problem worth solving</p>
        </div>
        <div id="product" class="step example" data-x="3030" data-y="-240" data-rotate="-150" data-scale="1">
            <h2>Product name</h2>
            <p>With enough users, this product will better our world.</p>
        </div>

        <div id="aesthetics" class="step facet" data-x="1000" data-y="1920" data-rotate="30" data-scale="1">
            <h2>Aesthetics</h2>
            <p>Purely functional technology is frightening, sometimes ugly, so it repels many potential users</p>
        </div>
        <div id="designers" class="step role" data-x="1485" data-y="1080" data-rotate="30" data-scale="1">
            <h2>Designers</h2>
            <p>given a well-defined problem, can determine and describe the optimal solution</p>
        </div>
        <div id="design" class="step example" data-x="1970" data-y="240" data-rotate="30" data-scale="1">
            <h2>Design name</h2>
            <p>This solution, if we can build it, will delight every user.</p>
        </div>

        <div id="technology" class="step facet" data-x="4000" data-y="1920" data-rotate="150" data-scale="1">
            <h2>Technology</h2>
            <p>The UXer strives to make technology serve the user.</p>
            <aside>And to prevent the user from serving the technology.</aside>
        </div>
        <div id="devs" class="step role" data-x="3515" data-y="1080" data-rotate="150" data-scale="1">
            <h2>Devs</h2>
            <h3>can build anything, with proper direction</h3>
        </div>
        <div id="app" class="step example" data-x="3030" data-y="240" data-rotate="150" data-scale="1">
            <h2>App name</h2>
            <p>The application of algorithms and heuristics to a problem can represent untold value</p>
        </div>

        <div id="recap" class="step" data-x="2500" data-y="0" data-rotate="0" data-scale="1">
            <img src="img/UX_spectrum.gif" alt="UX Spectrum">
        </div>
    </section>

    <section id="process">
        <div class="step" data-x="0" data-y="0" data-rotate-y="90" data-z="4500" id="goal" data-scale="1">
            <h2>Business goals</h2>
        </div>
        <div class="step" data-x="0" data-y="0" data-rotate-y="270" data-z="3500" id="research" data-scale="1">
            <h2>User research</h2>
        </div>
        <div class="step" data-x="0" data-y="0" data-rotate-y="270" data-rotate-x="180" data-z="2500" id="appraisal" data-scale="1">
            <h2>Technology appraisal</h2>
        </div>
        <div class="step" data-x="0" data-y="0" data-rotate-y="270" data-rotate-x="90" data-z="1500" id="flow" data-scale="1">
            <h2>Flow map</h2>
        </div>
        <div class="step" data-x="0" data-y="0" data-rotate-y="90" data-rotate-x="180" data-z="500" id="reqts" data-scale="1">
            <h2>Requirements document</h2>
        </div>
        <div class="step" data-x="0" data-y="0" data-rotate-y="270" data-rotate-x="270" data-z="-500" id="prototype" data-scale="1">
            <h2>Interface prototype</h2>
        </div>
        <div class="step" data-x="0" data-y="0" data-rotate-y="90" data-rotate-x="0" data-z="-1500" id="polish" data-scale="1">
            <h2>Visuals and polish</h2>
        </div>
        <div class="step" data-x="0" data-y="0" data-rotate-y="270" data-rotate-x="180" data-z="-2500" id="development" data-scale="1">
            <h2>Development</h2>
        </div>
        <div class="step" data-x="0" data-y="0" data-rotate-y="90" data-rotate-x="90" data-z="-3500" id="testing" data-scale="1">
            <h2>Testing</h2>
        </div>
        <div class="step" data-x="0" data-y="0" data-rotate-y="270" data-rotate-x="270" data-z="-4500" id="iteration" data-scale="1">
            <h2>Iteration</h2>
        </div>
    </section>
</div>

<!--

    a summary of all the possible attributes used to position presentation steps

    * `data-x`, `data-y`, `data-z` - they define the position of **the center** of step element on
        the canvas in pixels; their default value is 0;
    * `data-rotate-x`, `data-rotate-y`, 'data-rotate-z`, `data-rotate` - they define the rotation of
        the element around given axis in degrees; their default value is 0; `data-rotate` and `data-rotate-z`
        are exactly the same;
    * `data-scale` - defines the scale of step element; default value is 1

    These values are used by impress.js in CSS transformation functions, so for more information consult
    CSS transform docs: https://developer.mozilla.org/en/CSS/transform

-->

<div class="hint">
    <p>Navigate with <code>&larr;</code> <code>&rarr;</code></p>
</div>

<script>
if ("ontouchstart" in document.documentElement) {
    document.querySelector(".hint").innerHTML = "<p>Tap left or right to navigate</p>";
}
</script>

<script src="js/impress.js"></script>

<script>impress().init()</script>

<script>
    var api = impress();
    api.init();
    api.next();
    api.prev();
    // api.goto( idx | id | element, [duration] );
</script>

</body>
</html>
