html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

/*element styles*/
html {
  font-size: 16px; }

body {
  font-family: "proxima-nova-soft", serif;
  line-height: 1.5;
  min-height: 48em;
  background: black;
  color: white; }

b, strong {
  font-weight: bold; }

i, em {
  font-style: oblique; }

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid; }

a:hover, a:focus {
  color: #ff00aa; }

a:visited {
  color: #aa00ff; }

.fallback {
  font-family: serif;
  color: maroon;
  line-height: 1.5;
  width: 40em;
  margin: 2em auto;
  padding: 1em;
  border: 1px dotted;
  border-radius: .25em; }

.impress-supported .fallback {
  display: none; }

.typekit-badge {
  display: none !important; }

.step {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 1em;
  margin: 1em auto;
  background: rgba(255, 255, 255, 0.25); }

.impress-enabled .step {
  opacity: 0.2;
  transition: opacity 750ms; }

.impress-enabled .step.active {
  opacity: 1; }

.step img {
  max-width: 90vw;
  max-height: 90vh;
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.step h2 {
  position: relative;
  z-index: 10;
  font-size: 3em;
  background: rgba(0, 0, 0, 0.5);
  padding: .25em .75em;
  margin: 0 1em; }

.hint {
  position: fixed;
  opacity: 0.8;
  color: white;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 2em; }

.slide {
  display: block;
  width: 60em;
  height: 45em;
  background: white;
  border: 1px solid;
  color: #444444;
  font-size: 2em; }

aside {
  font-size: .5em;
  opacity: .8; }

.tiny {
  font-size: 0.25em; }

#overview {
  display: none; }

.impress-on-overview .step {
  opacity: 1;
  cursor: pointer; }

.past *, .past {
  opacity: 0; }

.future *, .future {
  opacity: 0; }
