html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

/*element styles*/
html {
  font-size: 16px; }

body {
  font-family: "proxima-nova-soft", serif;
  line-height: 1.5;
  min-height: 48em;
  background: black;
  color: white; }

h2, h3 {
  text-align: center; }

b, strong {
  font-weight: bold; }

i, em {
  font-style: oblique; }

a {
  color: inherit;
  text-decoration: none; }

a:hover, a:focus {
  color: #00aaff;
  border-bottom: 1px solid; }

a:visited {
  color: #aa00ff; }

* .small, small {
  font-size: .5em;
  line-height: .5;
  line-height: inherit;
  display: inline-block; }

.fallback {
  font-family: serif;
  color: maroon;
  line-height: 1.5;
  width: 40em;
  margin: 2em auto;
  padding: 1em;
  border: 1px dotted;
  border-radius: .25em; }

.impress-supported .fallback {
  display: none; }

.typekit-badge {
  display: none !important; }

.step {
  position: relative;
  width: 1000px;
  height: 1000px;
  padding: 4em 4em 2em;
  margin: 0 auto;
  background: rgba(60, 255, 60, 0.1); }

.step.tier2 {
  background: rgba(60, 255, 60, 0.2); }

.step.tier3 {
  background: rgba(60, 255, 60, 0.3); }

.step.tier4 {
  background: rgba(60, 255, 60, 0.4); }

.step.tier5 {
  background: rgba(60, 255, 60, 0.5); }

.step.myth {
  background: rgba(60, 255, 60, 0.6); }

.step.myth h2, .step.myth h3, .step.tier5 h2, .step.tier5 h3 {
  color: black;
  background: rgba(255, 255, 255, 0.25); }

.impress-enabled .step {
  opacity: 0.2;
  transition: opacity 750ms; }

.impress-enabled .step.active {
  opacity: 1; }

.step img {
  max-width: 100%; }

.step h2 {
  position: relative;
  z-index: 10;
  font-size: 4em;
  padding: .25em .5em; }

.step h3 {
  padding: .25em .75em;
  margin: 1em auto;
  font-size: 3em;
  font-weight: bold; }

.hint {
  position: fixed;
  opacity: 0.8;
  color: white;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 2em; }

.slide {
  display: block;
  width: 60em;
  height: 45em;
  background: white;
  border: 1px solid;
  color: #444444;
  font-size: 2em; }

aside {
  font-size: 2.5em;
  line-height: 1;
  text-align: center;
  color: white;
  margin: 1em 2em; }

aside:last-of-type {
  margin-bottom: 2em; }

.step p {
  font-size: 2em;
  margin: 1em 3.5em;
  text-align: center; }

.tiny {
  font-size: 0.25em; }

.dropcap {
  font-size: 1.5em;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: .5;
  display: inline-block;
  margin: .25em 0; }

.emph {
  color: #aaff00; }

#overview {
  display: none; }

.impress-on-overview .step {
  opacity: 1;
  cursor: pointer; }

.past *, .past {
  opacity: 0; }

.future *, .future {
  opacity: 0; }

#process .step {
  background: rgba(255, 60, 60, 0.4); }

#process .step:nth-of-type(2n) {
  background: rgba(255, 60, 60, 0.5); }

.facet {
  background: rgba(60, 60, 255, 0.3); }

.role {
  background: rgba(60, 60, 255, 0.4); }

.example {
  background: rgba(60, 60, 255, 0.5); }

#recap {
  background: rgba(60, 60, 255, 0.4); }
