body {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style:    preserve-3d;
  -ms-transform-style:     preserve-3d;
  -o-transform-style:      preserve-3d;
  transform-style:         preserve-3d;
  min-height: 48em;
}

// technicality classes
.fallback {
  font-family: $font;
  color: white;
  line-height: 1.5;
  width: 40em;
  margin: 2em auto;
  padding: 1em;
  border: 1px dotted;
  border-radius: .25em;
}

.impress-supported .fallback {
  display: none;
}

.typekit-badge {
  display: none !important;
}

// main impress.js class styles
.step {
  position: relative;
  width: 1000px;
  height: 1000px;
  padding: 4em 4em 2em;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style:    preserve-3d;
  -ms-transform-style:     preserve-3d;
  -o-transform-style:      preserve-3d;
  transform-style:         preserve-3d;
  background: transparentize(darken($green, .8), .5);
}

.step.tier2 {
  background: transparentize(darken($green, .8), .55);
}

.step.tier3 {
  background: transparentize(darken($green, .8), .6);
}

.step.tier4 {
  background: transparentize(darken($green, .8), .65);
}

.step.tier5 {
  background: transparentize(darken($green, .8), .7);
}

.step.myth {
  background: transparentize(darken($green, .8), .75);
}

.impress-enabled .step {
  opacity: 0.2;
  -webkit-transition: opacity 750ms ease-in-out;
  -moz-transition: opacity 750ms ease-in-out;
  -ms-transition: opacity 750ms ease-in-out;
  -o-transition: opacity 750ms ease-in-out;
  transition: opacity 750ms ease-in-out;
}

.impress-enabled .step.active {
  opacity: 1;
}

.step img {
  max-width: 100%;
}

.step h2 {
  position: relative;
  z-index: 10;
  font-size: 4em;
  // padding: .25em .5em;
}

.step h3 {
  font-size: 3em;
}

.step h4 {
  font-size: 2.25em;
}

.step h2,
.step h3,
.step h4 {
  margin: 0 6rem .5em;
  line-height: 1.25;
  text-align: left;
}

.step p {
  font-size: 1.5em;
  margin: 1em 6rem;
}

.step p.center {
  text-align: center;
}

.step aside {
  font-size: 1em;
  margin: 1em 6rem;
  font-weight: 200;
}

.step aside.center {
  text-align: center;
}

.step .tray {
  font-size: 1.5em;
  text-align: left;
  margin: 1em auto;
}

.step .tray.full, .step .full {
  margin-left: -2rem;
  margin-right: -2rem;
}

.step iframe {
  display: inline-block;
  margin: 1em auto;
  border: 3px solid;
  position: relative;
}

.step img {
  border: 3px solid;
}

.step footer {
  position: absolute;
  bottom: 4rem;
}

.slide {
  display: block;
  width: 60em;
  height: 45em;
  background: $white;
  border: 1px solid;
  color: $darkgrey;
  font-size: 2em;
}

.just, .tray.just {
  font-size: 0.1px;
  text-align: justify;
}

.center, .tray.center {
  text-align: center;
}

.just:after {
  content: "";
  width: 100%;
  display: inline-block;
  height: 0;
}

.ib {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.ib.center {
  margin: 0 auto 1em;
  display: block;
}

.ib.half {
  width: 48%;
}

.ib.half * {
  text-align: left;
  margin: 1em 0;
}

.step .just > * {
  font-size: 1rem;
}

.eg.ib {
  width: 9%;
  margin-right: 2%;
  line-height: 2.5;
}

.eg.ib + .ib {
  width: 86%;
  margin: 0;
}

.step .tray.tiny {
  font-size: 1rem;
}

.dropcap {
  font-size: 1.5em;
  text-transform: uppercase;
  vertical-align: middle;
  font-family: $font;
  font-style: normal;
  line-height: .5;
  display: inline-block;
  margin: .25em 0;
}

#overview, #midpoint {
  background: none;
  position: relative;
  -webkit-transition: all 2000ms ease-in-out;
  -moz-transition: all 2000ms ease-in-out;
  -ms-transition: all 2000ms ease-in-out;
  -o-transition: all 2000ms ease-in-out;
  transition: all 2000ms ease-in-out;
}

#midpoint .side {
  position: absolute;
  margin: auto;
  top: 50%;
  font-size: 6em;
  margin-top: -.75em;
  text-transform: uppercase;
  font-weight: 100;
}

#midpoint .left.side {
  left: 0;
}

#midpoint .right.side {
  right: 0;
}

.impress-on-overview .step:not(#overview), .impress-on-midpoint .step:not(#midpoint) {
  opacity: 2;
  cursor: pointer;
}

.headline {
  font-family: $font;
  font-size: 2em;
  text-align: left;
  opacity: 0.75;
  color: $white;
  border-bottom: 1px solid;
  margin-bottom: 1em;
}

#intro .headline, #intro .emph {
  color: $green;
}

#intro iframe, #intro a:hover, #intro img {
  border-color: $green;
}

#spectrum iframe, #spectrum a:hover, #spectrum img {
  border-color: $blue;
}

#process iframe, #process a:hover, #process img {
  border-color: $mag;
}

.back-home {
  font-size: 3em;
  font-weight: 600;
}

.back-home:hover {
  opacity: 1;
}

header.player {
  font-size: 1.5rem;
  margin: 0 6rem -2.5em;
}

label {
  display: block;
  margin: 1em 7em -2em;
  text-align: left;
}

.hint {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  bottom: 2em;
  opacity: 1;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(20em);
  -moz-transform: translateZ(20em);
  -ms-transform: translateZ(20em);
  -o-transform: translateZ(20em);
  transform: translateZ(20em);
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.hint.out {
  opacity: 0;
}

.hint a {
  opacity: 0.5;
  color: white;
  cursor: pointer;
  padding: 0 .25em;
  margin: .25em;
  -webkit-transition: opacity 250ms ease-in-out;
  -moz-transition: opacity 250ms ease-in-out;
  -ms-transition: opacity 250ms ease-in-out;
  -o-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
  border: 0;
  background: transparentize($white, 0.95);
  // border-radius: .25em;
  padding: .125em .25em;
}

.hint a:hover {
  opacity: 1;
  color: white;
  text-decoration: none;
}

.hint a:not(.back-home) {
  font-size: 2em;
}

.hint .back-home, .hint .back-home:hover {
  line-height: 1;
  vertical-align: -.125em;
  display: inline-block;
  padding: 0 .2em;
  border: 0;
}

.instructions {
  display: none;
}

.impress-on-overview .instructions, .impress-on-whack .instructions, .impress-on-iteration .instructions {
  display: inline;
}

.step.past iframe, .step.future iframe {
  display: none;
}

.step.present iframe {
  display: auto;
}

.step.past *, .step.past {
  opacity: 0;

}

.step.future *, .step.future {
  opacity: 0;

}

#process .step {
  background: transparentize(darken($mag, .8), .6);
}

#process .step:nth-of-type(2n) {
  background: transparentize(darken($mag, .8), .5);
}

.step h2,
.step h4 {
  text-align: left;
  padding: 0;
  line-height: 1.2;
}

.step h2 {
  margin: 1em 6rem 0.5em;
}

.step h4 {
  margin: 0 6rem 0.5em;
}

.tiny {
  font-size: 0.75rem;
}

.facet {
  background: transparentize(darken($blue, .8), .5);
}

.role {
  background: transparentize(darken($blue, .8), .6);
}

.example {
  background: transparentize(darken($blue, .8), .7);
}

#whack {}

#psychology {}
#users {}
#human {}

#economics {}
#stakeholder {}
#product {}

#aesthetics {}
#designers {}
#design {}

#technology {}
#devs {}
#program {}

#recap {
  background: transparentize(darken($blue, .8), .8);
  padding: 0;
}

.impress-on-recap #recap {
  background: $black;
}

#recap img {
  height: 100%;
  display: block;
  margin: 0 auto;
}

#field img {
  max-height: 30em;
}

#spectrum {}
#process {}

#questions {
  background: $black;
}
