.page {
  padding: 2em 0 12em;
  background: transparentize($white, 0.9);
}

.tray {
  width: 60rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.hero.example {
  text-align: center;
  margin: 2em 0;
}

.page p, .page ul {
  max-width: 40em;
}

.page h2 {
  text-align: left;
}

h1 {
  font-family: $font;
}

ul {
  list-style: disc outside;
  margin: 2rem 6rem;
}

ol {
  margin: 2rem 6rem;
}

ol li {
  margin-bottom: 0.25em;
  font-size: 1.5em;
}

img {
  max-width: 100%;
  padding: 1em;
  background: $white;
  border: 3px solid $mag;
}

a.img-link {
  border-bottom: none;
}

a.img-link:hover img {
  opacity: 0.8;
}

a.img-link + footer {
  text-align: right;
}

@media screen and (min-width: 75em) {
  html {
    font-size: 20px;
  }
}
