$helvetica: "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
$gothic: "Century Gothic", CenturyGothic, AppleGothic, $helvetica;
$futura: Futura, $gothic;
$franklin: unquote("'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic'"), $futura;
$font: $franklin;

$white: #fff;
$black: #000;
$purp: #a0f;
$blue: #0af;
$green: #af0;
$orange: #fa0;
$foam: #0fa;
$mag: #f0a;
$grey: #aaa;
$darkgrey: #444;

$links: $blue;
$visited: $purp;
