@import "vars";

// technicality classes
.fallback {
  font-family: serif;
  color: maroon;
  line-height: 1.5;
  width: 40em;
  margin: 2em auto;
  padding: 1em;
  border: 1px dotted;
  border-radius: .25em;
}

.impress-supported .fallback {
  display: none;
}

.typekit-badge {
  display: none !important;
}

// main impress.js class styles
.step {
  position: relative;
  width: 1000px;
  height: 1000px;
  padding: 4em 4em 2em;
  margin: 0 auto;
  background: rgba(60, 255, 60, 0.1);
}

.step.tier2 {
  background: rgba(60, 255, 60, 0.2);
}

.step.tier3 {
  background: rgba(60, 255, 60, 0.3);
}

.step.tier4 {
  background: rgba(60, 255, 60, 0.4);
}

.step.tier5 {
  background: rgba(60, 255, 60, 0.5);
}

.step.myth {
  background: rgba(60, 255, 60, 0.6);
}

.step.myth h2, .step.myth h3, .step.tier5 h2, .step.tier5 h3 {
  color: black;
  background: rgba(255, 255, 255, 0.25);
}

.impress-enabled .step {
  opacity: 0.2;
  transition: opacity 750ms;
}

.impress-enabled .step.active {
  opacity: 1;
}

.step img {
  max-width: 100%;
}

.step h2 {
  position: relative;
  z-index: 10;
  font-size: 4em;
  padding: .25em .5em;
}

.step h3 {
  padding: .25em .75em;
  margin: 1em auto;
  font-size: 3em;
  font-weight: bold;
}

.hint {
  position: fixed;
  opacity: 0.8;
  color: white;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 2em;
}

.slide {
  display: block;
  width: 60em;
  height: 45em;
  background: $white;
  border: 1px solid;
  color: $darkgrey;
  font-size: 2em;
}

aside {
  font-size: 2.5em;
  line-height: 1;
  // font-family: $nasa;
  text-align: center;
  color: $white;
  margin: 1em 2em;
  // transform: rotateX(10deg);
}

aside:last-of-type {
  margin-bottom: 2em;
}

.step p {
  font-size: 2em;
  margin: 1em 3.5em;
  text-align: center;
}

.tiny {
  font-size: 0.25em;
}

.dropcap {
  font-size: 1.5em;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: .5;
  display: inline-block;
  margin: .25em 0;
}

.emph {
  color: $green;
}

#overview {
  display: none
}

.impress-on-overview .step {
  opacity: 1;
  cursor: pointer;
}

.present * {

}

.past *, .past {
  opacity: 0;

}

.future *, .future {
  opacity: 0;

}

#process .step {
  background: rgba(255,60,60,0.4);
}

#process .step:nth-of-type(2n) {
  background: rgba(255,60,60,0.5);
}

.facet {
  background: rgba(60, 60, 255, 0.3);
}

.role {
  background: rgba(60, 60, 255, 0.4);
}

.example {
  background: rgba(60, 60, 255, 0.5);
}

#whack {}

#psychology {}
#users {}
#human {}

#economics {}
#stakeholder {}
#product {}

#aesthetics {}
#designers {}
#design {}

#technology {}
#devs {}
#program {}

#recap {
  background: rgba(60, 60, 255, 0.4);
}

#intro {}
#spectrum {}
#process {}

