$soleil: "soleil", serif;
$ratio: "ratio", serif;
$pns: "proxima-nova-soft", serif;
$rooney: "rooney-sans", serif;
$droid-mono: "droid-sans-mono", monospace;
$nasa: "nasalization", serif;
$trial: "rooney-sans", "proxima-nova-soft", "ratio", "soleil", "droid-sans-mono";

$white: #fff;
$black: #000;
$purp: #a0f;
$blue: #0af;
$green: #af0;
$orange: #fa0;
$foam: #0fa;
$mag: #f0a;
$grey: #aaa;
$darkgrey: #444;

$links: $mag;
$visited: $purp;